.list{
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-breed{
    display: flex;
    align-items: center;
    align-self: flex-start;

    list-style: none;
}


.list-breed li{
    text-align: center;
    width: 25vw;
    
    background-color: #eaf1f0a9;
}

li:hover{
    background-color: #04f3c7b4;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgb(21, 80, 77);
    transition: ease-in-out 200ms; 
}

.list a{
    text-decoration: none;
    color: #222423;
}

.photos{
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width: 50%;
}

.photos img{
    width: 700px;
    height: 600px;
}

.photos img:active{
}

